server:
  port: 8080

spring:
  data:
    redis:
      host: localhost
      port: 6379

  main:
    web-application-type: reactive

  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: httpbin-root
          uri: https://httpbin.org
          predicates:
            - Path=/**

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
